html {
    width:100vw;
    height: 100vh;
    display: table;
}

body {
    width:100vw;
    height:100vh;
    display:table-cell;
}

html, body {
    margin: 0px;
    padding: 0px;


    background-color: #E5E5E5;
}
#allWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100vw;
}
#wrapper{
    width: 37%;
    height: 95vh;
    margin-top: 1%;
    border:2px ridge #465881;
background-color: white;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas:    '   display       display       display     display     '
                        '   seven          eight         nine           pls     '
                        '   four            five          six           min     '
                        '   one              two         three        multiply  '
                        '   zer            comma         equals        div     '
                        '   clr            factorial       pow          sqr     ';
}
#display{
    grid-area: display;
    
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
button::-moz-focus-inner{
  border: 0;
}
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}
#calcDisp{
    height: 20vh;
    width: 99%;
    background: #B3CCD2;
    border: 2px solid #465881;
    font-family: 'Play',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    text-align: right;
    color: #1F1F1F;
    overflow:scroll;
}
.button button{
    width: 100%;
height: 100%;
background: #1B2A49;
border: 2px solid #465881;
font-family: 'Play';
font-style: normal;
font-weight: normal;
font-size: 70px;
text-align: center;
color: #00909E;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.48);
}
#nine{
  grid-area: nine;  
}
#eight{
    grid-area: eight;  
  }
  #seven{
    grid-area: seven;  
  }
  #six{
    grid-area: six;  
  }
  #five{
    grid-area: five;  
  }
  #four{
    grid-area: four;  
  }
  #three{
    grid-area: three;  
  }
  #two{
    grid-area: two;  
  }
  #one{
    grid-area: one;  
  }
  #zero{
    grid-area: zer;  
  }
  #comma{
    grid-area: comma;  
  }
  #pls{
    grid-area: pls;  
  }
  #plus{
   background-image: url("Images/plus.svg");
   background-repeat: no-repeat;
   background-size: 70%;
   background-position: center;
   background-color: #1F1F1F;
  

  }
  #plus:hover{background-color: #85203b;}
  #min{
      grid-area: min;
  }
  #minus{
    background-image: url("Images/minus.svg");
   background-repeat: no-repeat;
   background-size: 70%;
   background-position: center;
   background-color: #1F1F1F;
  }
  #minus:hover{background-color: #85203b;}
  #multiply{
    grid-area: multiply;  
  }
  #mult{
    background-image: url("Images/multiply.svg");
   background-repeat: no-repeat;
   background-size: 50%;
   background-position: center;
   background-color: #1F1F1F;
  }
  #mult:hover{background-color: #85203b;}
  #div{
      grid-area: div;
  }
    #division{
  background-image: url("Images/division.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #1F1F1F; }
  #division:hover{background-color: #85203b;}
  #sqr{
      grid-area:sqr;
  }
  #sqrt{
    background-image: url("Images/root.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #1F1F1F; }
  #sqrt:hover{background-color: #85203b;}
  #factorial{
      grid-area: factorial;
  }
  #fact{
   background-image: url("Images/fact.svg");
   background-repeat: no-repeat;
   background-size: 45%;
   background-position: center;
   background-color: #1F1F1F;
  }
  #fact:hover{background-color: #85203b;}
  #pow{
      grid-area: pow;
  }
  #power{
    background-image: url("Images/Vector.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  background-color: #1F1F1F; }
  #power:hover{background-color: #85203b;}
  #clr{
      grid-area: clr;
  }
  #clear{
    background-image: url("Images/C.svg");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  background-color: #1F1F1F;
  }
  #clear:hover{background-color: #85203b;}
  #equal{
    background-image: url("Images/equal.svg");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    background-color: #FF5C00;
  }
  input::placeholder {
    font-family: 'Play',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    text-align: right;
    color: #1F1F1F; 
    }
    ::-moz-placeholder {
      opacity: 1;
    }
    button:active {
      padding: 0px;
    }
    button:hover{
      background-color:#1F1F1F ;
    }
@media screen and (max-width:1200){
  button:hover{
    background-color: none;
  }
  #wrapper{
    width: 90vw;
    padding: 0;
    margin:0;
    height: 70vh;
    align-self: center;
    justify-self: center;
}
#allWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100vw;
}
#clear{
  background-size: 100%;
}
#fact{
  background-size: 100%;
}
#power{
    background-size: 100%;
  
}
#sqrt{
  background-size: 100%;
}
#display{min-width:100%;}
}

@media screen and (max-width:600px){
#wrapper{
width:80vw ;
}
}
